*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    margin: 0px;
    background: repeating-linear-gradient(
        45deg,
        #1a1a1f,
        #1a1a1f 10px,
        #32323a 10px,
        #32323a 20px
    );
    
}

h1 {
    transition: color 0.5s ease-in-out; 
  }
.wrapper{
    border:2px solid rgba(255,255,255,0.2);
    display: flex;
    margin: 50px auto;
    text-align: center;
    padding: 30px 40px;
    border:2px solid;
    background: linear-gradient(to bottom,#567ef1,#df231d);
}
.wrapper .input-box{
    position: relative;
    width:100%;
    margin:30px 0;   
}
.input-box input{
    margin: 10px;
    border-radius: 40px;
    padding: 20px  40px;
    border: 2px solid blue;
    font-size: 16px;
    font-weight: bold;
    outline: #df231d;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
   
}
div{
    margin: 10px;
}

 .btn{
    background-color: #3498db;;
    margin: 10px;
    font-weight: bold;
    border-radius: 80px;
    padding: 10px  40px;
    transition: background-color 0.8s ease;
    cursor: pointer;
}
.btn:hover{
    background-color:#333333;
}
input:focus::placeholder,
input:not(:placeholder-shown)::placeholder {
  transform: translateY(-80%);
  font-size: 12px; 
  transition: transform 0.3s ease;
  font-weight: bold;
  
}
.wrapper .input-box i{
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    font-size: 24px;
}
.remember-forget{
    margin:20px;
    font-size: 16px;
}
.remember-forget a{
    color:#fff;
    margin:20px;
    transition:background-color 0.3s ease;
    cursor: pointer;
}
.remember-forget a:hover{
    text-decoration: underline;
    background-color: #2980b9;
}
.register-link a{
    color:#fff;
    text-decoration: none;
    transition:background-color 0.3s ease;
    cursor: pointer;
}
.register-link a:hover{
    text-decoration: underline;
    background-color:#3498db;
}
.mode-toggle {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode {
    background-color: #1f1f1f;
    color: #fff;
}